body {
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    text-align: center;
    font-style: bolder;
    color: #001a33;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    background-color: white;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    height: 500px;
    width: 700px;
}

h2 {
    margin: 20px 20px 20px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #001a33;
    font-style: bolder;
    text-align: center;
}

#password {
    text-align: center;
    border: 1px dashed gray;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.password1 {
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    text-align: center;
    margin-left: 50px;
}

#generate {
    background: darkred;
    color: white;
    padding: 15px;
    font-size: 26px;
    text-align: center;
    border-radius: 30pt;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 200px;
}

#copy {
    background: gray;
    color: white;
    padding: 15px;
    font-size: 26px;
    text-align: center;
    border-radius: 30pt;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-right: 200px;
}

@media screen and (max-width: 1024px) {
    .content {
        width: 500;
        margin-left: 120px;
    }
    #generate {
        margin-left: 150px;
    }
    #copy {
        margin-right: 150px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 400;
        margin-left: 10px;
    }
    #generate {
        margin-left: 40px;
    }
    #copy {
        margin-right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .content {
        width: 250;
        margin-left: 0px;
    }
    #generate {
        margin-left: 20px;
    }
    #copy {
        margin-left: 20px;
        margin-right: 10px;
    }
}